# Ignore everything under the top-level directories
/*/

# And config files
/.*

# And windows garbage
/ntuser.ini
/ntuser.dat*
/NTUSER.DAT*

# And localdb files
/*.mdf
/*_log.ldf
/*.bak

# Except for vim config and bin files
!/.vim
!/bin

# Except some vim state
/.vim/backup
/.vim/swap
/.vim/.*

# Stupid NPM
npm-debug.log

