[user]
	name = Simon Buchan
	email = simon.buchan@skilitics.com

[include]
	path = ./.gitconfig.local

[core]
	autocrlf = input
	whitespace = cr-at-eol
	editor = vim

[push]
	default = current

[pull]
	ff = only

[alias]
	st = status --short
	co = checkout
	g = log --graph --oneline
	ga = log --graph --oneline --all
	amend = commit --amend
	b = branch
	merged = branch --merged
	eol = ls-files --eol

[advice]
	detachedHead = false
	pushNonFastForward = false

[color]
	ui = auto

[status]
	branch = true

[log]
	decorate = short

[mergetool]
	keepbackup = false

[merge]
	conflictstyle = diff3
	renormalize = true

[rebase]
	stat = true
	autosquash = true
	autostash = true

[column]
	ui = auto

[diff]
	mnemonicprefix = true
	submodule = log
	compactionHeuristic = true

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
