[user]
	name = Simon Buchan
	email = simon.buchan@skilitics.com
[include]
	path = ./.gitconfig.local
[core]
	autocrlf = input
	whitespace = cr-at-eol
	editor = vim
[push]
	default = current
[alias]
	st = status --short
	co = checkout
	glog = log --graph --decorate --oneline --branches
[advise]
	detachedhead = false
[branch]
	autosetupmerge = false
[color]
	ui = auto
[mergetool]
	keepbackup = false

